<html>
  <body>
    <%- include('partials/_header'); -%>
    <div class="flex h-[calc(100vh-80px)] items-center justify-center p-5 bg-dark w-full">
      <div class="text-center">
        <div class="inline-flex rounded-full bg-yellow-100 p-4">
          <div class="rounded-full stroke-yellow-600 bg-yellow-200 p-4">
            <svg class="w-16 h-16" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0002 9.33337V14M14.0002 18.6667H14.0118M25.6668 14C25.6668 20.4434 20.4435 25.6667 14.0002 25.6667C7.55684 25.6667 2.3335 20.4434 2.3335 14C2.3335 7.55672 7.55684 2.33337 14.0002 2.33337C20.4435 2.33337 25.6668 7.55672 25.6668 14Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          </div>
        </div>
        <h1 class="mt-5 text-[36px] font-bold text-blue-600 lg:text-[50px]">Hata Kodu : <%=statuscode %></h1>
        <p class="text-blue-300 mt-5 lg:text-lg"><%= message %></p>
        <br>
        <br>
        
        <a class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" href="/">Anasayfaya Dön</a>
      </div>
    </div>
    

    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>