<html>
  <body>
    <%- include('partials/_header'); -%>
    <form action="/sharing" method="POST">
      <div class="bg-gray-900 py-4">
        <div class="w-4/5	h-4/6	  mx-auto px-4">
          <div class="bg-gray-800  shadow-md rounded-lg p-6">
            <h2 class=" text-white ">Kod Adı</h2>
            <input name="name" type="text" class="mt-2 bg-gray-700 text-white rounded-lg p-1" placeholder="Kod Adı" required>

            <h2 class="text-white ">Kod Yapımcıları</h2>
            <input name="sharer" type="text" class="mt-2 bg-gray-700 text-white rounded-lg p-1" placeholder="Yapımcılar ( Virgül Bırakarak Idleri Yazın )" required>

            <p class="text-white  mt-2">Kod Hakkında</p>
            <input  name="desc" type="text" class="mt-2 bg-gray-700 text-white rounded-lg p-1" placeholder="Kod Hakkında" required>
  
            <div class="mt-4">
              <label class=" block text-sm font-medium text-white ">Kullanılan Modüller</label>
              <input name="modules" type="text" class= "text-white bg-gray-700 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-2" placeholder="Kullanılan modüller..." required>
            </div>
            <div class="mt-4">
              <label class="block text-sm font-medium text-white ">Kod Türü</label>
              <% if (isStaff) { %>
              <select name="rank"  class="bg-gray-700 text-white mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                <option value="normal">Normal</option>
                <option value="gold">Altın</option>
                <option value="diamond">Elmas</option>
                <option value="ready">Hazır</option>
                <option value="fromyou">Sizden Gelenler</option>
              </select>
              <% } else { %>
                <select name="rank" class="bg-gray-700 text-white mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                  <option value="fromyou" selected>Sizden Gelenler</option>
                </select>
                <% } %>
  
            </div>
            <div class="mt-4">
              <label class="block text-sm font-medium text-white ">Main Komut</label>
              <textarea name="mainCode" class="text-white bg-gray-700 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" rows="3" placeholder="Main komut..." required></textarea>
            </div>
            <div class="mt-4">
              <label class="block text-sm font-medium text-white ">Komutlar Dosyası</label>
              <textarea name="command" class="text-white bg-gray-700 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" rows="6" placeholder="Komutlar dosyası..." required></textarea>
            </div>
            <div class="mt-6">
              <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-md hover:bg-blue-800">Kaydet</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    
    

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
      
      jQuery(function ($) {
        var $inputs = $('textarea[name=mainCode],textarea[name=command]');
        $inputs.on('input', function () {
          $inputs.not(this).prop('required', !$(this).val().length);
        });
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>